.login {
	-fx-background-color: linear-gradient(to right, rgb(0, 57, 115),
		rgb(229, 229, 190));
}

.login-titulo {
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
}

.login-form-botao {
	-fx-font-size: 16px;
}