.conteudo {
	-fx-background-color: #000;
	-fx-font-family: "Oswald";
	-fx-font-size: 20px;
}

.numero {
	-fx-text-fill: #eee;
	-fx-font-size: 28px;
}

.titulo {
	-fx-text-fill: #48b2ee;
	-fx-font-size: 36px;	
}